{% extends 'camper/base.html' %}

{% load static %}




{% block content %}






<!-- Section Contact -->
  <section id="contact" class="section-camper1 ">

    <div class="container">
     


      <div class="row ">
        <div class="col  l6 ">
   <div>

       <div class="camperdetail">
       <img src="{% static 'images/camper44.jpg'%}" alt="">
</div>
<p class="rental-rate">Rental Rate: <span class="rental-price">10,000円/day</span>
  </p>


     

<br />
<br />
   </div>
 </div>

 <div class="col  l6 ">
<div>
<h4 class="teal-text"> Amity Camper Van</h4>

<p class="par1">The Amity is a Toyota 4XYZ compact and powerful camper van ready to 
  take you out to the campsites across Japan. There is a folding table inside and can
sleep 4 adults comfortably.</p>


<br />

<table>
        <thead>

        </thead>

        <tbody>
          <tr>
            <td><i class="material-icons icon">person_outline</i> 4 seater</td>


          </tr>
          
         
          <tr>
            <td><i class="material-icons icon">navigation</i> Car Navigation</td>


          </tr>
          <tr>
            <td><i class="material-icons icon">tune</i> Automatic Transmission</td>


          </tr>
          <tr>
            <td><i class="material-icons icon">terrain</i> 4WD drive</td>


          </tr>
          
          <tr>
            <td><i class="material-icons icon">pets</i> Pets OK</td>


          </tr>
        </tbody>
      </table>
    <br />
      <br />
<input type="submit" name="" value="Check Availability" 
class="btn btn-large check ">
<br />
<br />
  <br />
  

</div>
</div>














      </div>

    </div>
</section>

    <!-- Section Photo Gallery -->
      <section class="section section-gallery ">
        <div class="container">
          
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/amity.png'%}"
              alt="" class="materialboxed width responsive-img">
            </div>
            <div class="col s12 m3">
              <img src="{% static 'images/amity.png'%}"
              alt=""  class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
              <img src="{% static 'images/amity.png'%}"
              alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
              <img src="{% static 'images/amity.png'%}"
              alt="" class="materialboxed responsive-img">
            </div>
          </div>
          


        </div>
        <br />
        
        <br />
        <br />
        <br />
        <br />
    
      </section>


      












{% endblock  %}
